body {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

#game-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    /* Background image from https://pxhere.com/en/photo/1641585 */
    background-image: url('../img/background.jpg');
    background-size: cover;
}

#current-score-wrapper {
    position: absolute;
    top: 20px;
    right: 20px;
    display: none;
    font-size: 1.5rem;
    padding: 10px 20px;
    background-color: white;
    border-radius: 5px;
}

.screen {
    text-align: center;
    padding: 100px;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* Box shadow from https://getcssscan.com/css-box-shadow-examples */
}

/* ================= Title screen styles ================= */
#title-screen {
    text-align: center;
}

#title-screen h1 {
    font-size: 4rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

#title-screen p {
    font-size: 1.5rem;
}

/* ================= Game screen styles ================= */
#game-screen {
    display: none;
}

#round-title {
    font-size: 3rem;
    margin-top: 0;
}

#current-question {
    font-size: 2rem;
}

#next-question-button {
    display: none;
    margin-top: 20px;
}

.correct-answer {
    background-color: green !important;
    color: white !important;
}

.incorrect-answer {
    background-color: red !important;
    color: white !important;
}

/* ================= End screen styles ================= */
#ending-screen {
    display: none;
}

#ending-screen h1 {
    font-size: 3rem;
}

#ending-screen p {
    font-size: 2rem;
}

#ending-screen h2 {
    font-size: 4rem;
}

/* Button styles from this open-source website: https://getcssscan.com/css-buttons-examples */
.button {
  background-color: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.button:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

.button:active {
  background-color: #F7F7F7;
  border-color: #000000;
  transform: scale(.96);
}

.button:disabled {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}

